<div class="grid grid-cols-3 gap-x-1 place-items-center mt-4">
  <button
    class="hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-1.5 inline-flex items-center hover:ring-4 hover:outline-none hover:ring-blue-300 dark:focus:ring-blue-800"
  >
    <svg
      class="w-6 h-6 text-gray-800 dark:text-white fill-rose-800"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 21 19"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M11 4C5.5-1.5-1.5 5.5 4 11l7 7 7-7c5.458-5.458-1.542-12.458-7-7Z"
      />
    </svg>
    <span class="text-gray-800 dark:text-white pl-2">250</span>
  </button>
  <button
    class="hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-1.5 inline-flex items-center hover:ring-4 hover:outline-none hover:ring-blue-300 dark:focus:ring-blue-800"
  >
    <svg
      class="w-6 h-6 text-gray-800 dark:text-white"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 20 18"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M5 5h9M5 9h5m8-8H2a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h4l3.5 4 3.5-4h5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1Z"
      />
    </svg>
    <span class="text-gray-800 dark:text-white pl-2">5</span>
  </button>
  <button
    class="hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-1.5 inline-flex items-center hover:ring-4 hover:outline-none hover:ring-blue-300 dark:focus:ring-blue-800"
  >
    <svg
      class="w-6 h-6 text-gray-800 dark:text-white fill-sky-400"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 14 20"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="m13 19-6-5-6 5V2a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v17Z"
      />
    </svg>
  </button>
</div>
