<!DOCTYPE html>
<html lang="en" class=<%= darkMode ? "dark":"" %>>
  <%- include('./includes/head.ejs') %>
  </head>
  <body>
    <%- include('./includes/main-nav.ejs') %> <%- include('./includes/aside.ejs') %>

    <div class="h-screen p-16 sm:ml-64 dark:bg-gray-900">
      <div
        class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700 mt-14"
      >
        <p class="text-9xl text-gray-900 dark:text-white font-extrabold text-center">500</p>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
  </body>
</html>
